$primary-color: #6369d1;
$background-color: #dbdae0;
$text-color: #34435e;
$border-color: #b88e8d;
$secondary-color: #a4eeee;
$white: #fff;
$light-gray: #fafafa;
$error-color: #ff5151;
$black: #000;
$border: 1px solid $border-color;
$transition: all 0.6s;
$success-color: #00ff00;